
/**
 * GENERAL STYLING
 **/


 body{
    margin: 0;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(../images/square.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
  

    }

h1 {
        background-color: #4aaaa5;
         font-family: Georgia, 'Times New Roman', Times, serif;
          font-size: 36px;
          color: white;
          padding :20px;
        position: absolute;
        left: 150px;
        top: 15px;
        bottom: 33;
      }

h2 {
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 22px;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    position: absolute;
    right: 100px;
    top: 40px;
  }
  
  li {
    float: right;
   }
  
  li a {
    display: block;
    color: #777777;
    text-align: center;
    padding: 16px;
    text-decoration: none;
   
  }
  
  li a:hover {
    background-color: #4aaaa5;
  }


footer{
    border-top: 8px solid #4aaaa5;
    background-color: #666666;
    padding: 5px;
    text-align: center;
    color: #ffffff;
  }

  .header {
    background-color: #ffffff;
    padding: 60px;
    position: relative;
    top: -10px;
    bottom: -50;
    
  
  }
    



/**
 * ABOUT STYLING
 **/

.main {
  background-color: #ffffff;
  margin-left: 12%;
  width: 960px;
  margin-bottom: 5%;
  
    }


    hr {margin-left: 2%;}
  
  img {
    float: left;
  }
  

  



/**
 * PORTFOLIO STYLING
 **/

 .main2 {
  background-color: #ffffff;
  margin-left: 12%;
  width: 960px;
  margin-bottom: 5%;
  margin-top: -4.5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
   }

 
 div.gallery {
  margin: 5px;  
  border: 1px solid #ccc;
   width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
  
}

div.gallery img {
width: 100%;
  height: auto;
}

.desc {
  padding: 10px;
  text-align: center;
     background-color: #4aaaa5;
    color: white;
    bottom: 20px;
   }



.brands {
  float: left;
  margin: 10px;
  clear: left;
   border: 3px solid #ffffff;
  }


.copy {
 float: left;
   margin: 10px;
   text-align: center;
   border: 3px solid #ffffff;
}
   
   .strategy {
  float: left;
  margin: 10px;
  clear: left;
   border: 3px solid #ffffff;
  }

   .design {
  float: left;
    margin: 10px;
   border: 3px solid #ffffff;
  }
  
     .development {
  float: left;
    margin: 10px;
    clear: left;
     border: 3px solid #ffffff;
  }
  

/**
 * CONTACT STYLING
 **/

 .main3 {
  background-color: #ffffff;
  margin-left: 12%;
  width: 960px;
  margin-bottom: 5%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
   }
 
 
  
 
 input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


 input[type=submit]{
  background-color: #4aaaa5;
  border: none;
  color: #ffffff;
  padding: 14px 50px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
 }

input[type=submit]:hover {
  background-color: #purple;
  
}

div {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  }


 
/* For phone: */

@media screen and (max-width: 320px)and (max-width: 640px){
.img {
  width: 100%;
}
.text {
  width: 100%
}
}
 
  

/* For tablet: */

@media (min-width:641px) and (max-width:768px){
  .main{
    width: 90%;
   margin-right: 0%;
    margin-left: 8%;
    font-size: 20px;
  }

  .header{
    width: 95%;
  }

  h1
  {left: 80px;
    }
  } 



/* For desktop: */

@media (min-width:769px) and (max-width:980px){
  .main{
   
   margin-top: 5%;
   margin-left: 5%;
  width: 500px;
  margin-bottom: 50%;
  }
}






